.homeContent
  .galleryShow
    .galleryShow_box
      - if @gallery.image.attached?
        .galleryShow__box__title
          = @gallery.title
        .galleryShow__box__image
          = image_tag @gallery.image, width: "700px"

  .homeContent__right
    = render "layouts/homeContent__right"