
.blogShow {
  width: 100%;
  padding: 100px 100px 0 100px;
  
  &__title {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
  }
  &__text {
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px;
  }
  &__page {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    .page__back {
      margin-left: 10px;
      text-decoration: none;
      color: #eee;
    }
    .index__page {
      margin-left: 10px;
      text-decoration: none;
      color: #eee;
    }
    .home__page{
      margin-left: 10px;
      text-decoration: none;
      color: #eee;
    }
    .page__next {
      margin-left: 10px;
      text-decoration: none;
      color: #eee;
    }
  }
  &__change {
    display: flex;
    justify-content: flex-end;
    &__edit {
      .edit__page {
        color: #eee;
      }
    }
    &__destroy {
      margin-left: 10px;
      .delete__page {
        color: #eee;
      }
    }
  }
}
