.galleryIndex {
  padding: 80px 0 0 20px; 
  .galleryIndex__title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .galleryIndex__gallery {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-flow: row dense;
    // grid-auto-flow: column dense;

  }

}