.homeContent {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  &__left {
    padding-top: 80px;
    width: 40%;
    &__head {
      font-size: 22px;
    }
    .blogBox {
      padding: 0 20px;
      &__content {
        margin-top: 10px;
        font-size: 18px;
        border-bottom: 1px solid #999;
        &__title {
          .blog__page {
            text-decoration: none;
            margin-left: 20px;
          }
        }
        &__createtime {
          text-align: right;
          font-size: 12px;
        }
      }
    }
    .blog__all {
      text-align: right;
      text-decoration: none;
    }
    &__foot {
      margin-top: 10px;
      text-align: end;
    }
  }
  &__center {
    padding: 80px 20px 0 60px;
    width: 60%;
    &__head {
      font-size: 22px;
    }
    .galleryBox {
      display: grid;
      grid-template-rows: 200px 200px 200px;
      grid-template-columns: 200px 200px 200px;
      // grid-auto-flow: column;
      
      &__content {
        &__image {
          position: relative;
          &__file {
          }
          &__title {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 12px;
          }
        }
      }
    }



    &__foot {
      margin-top: 10px;
      text-align: end;
      .gallery__all {
        text-decoration: none;
      }
    }
  }
}